* {
  margin: 0;
  /* overflow: scroll; */
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f9f9f9;
  align-items: center;
}
.image {
  margin-top: 5px;
  height: 50px;
  width: 50px;
  border-radius: 25px;
}
.personalheader {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f9f9f9;
  align-items: center;
}

.previewimg {
  margin-top: 20px;
  border: solid;
  border-radius: 45px;
}

.remove_button{
  border: none;
  padding: 5px;
  border: 25px;
  background-color: #fe3d71;
  color: white;
  border-radius: 25px;
  margin-bottom: 10px;
  display: flex;
}

input[type=file]::file-selector-button {
  border: none;
  padding: 5px;
  color: white;
  border-radius: 25px;
  background-color: #fe3d71;
}

input[type=file]::file-selector-button:hover {
  background-color: #f39bb2;
  border: 2px solid #0c0e0d;
}


.matches_container{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f9f9f9;
  align-items: center;
  margin: 20px;
}

.logo {
  height: 40px;
  object-fit: contain;
}


.header_icon {
  padding: 20px;
}

.card {
  position: relative;
  width: 600px;
  padding: 20px;
  max-width: 85vh;
  height: 45vh;
  margin-left: 20px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  /* box-shadow: 0px 18px 53px 0px rgba(131, 127, 127, 0.3) */
}
.accountdetails_container {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.wholecard {
  background-color: white;
  padding-bottom: 50px;
  padding-top: 20px;
  box-shadow: 0px 18px 53px 0px rgba(226, 222, 222, 0.3);
  border-radius: 20px;
  /* border: solid; */
}

.cardcontainer {
  display: flex;
  justify-content: center;
  margin-top: 5vh;

}

.login_header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  /* flex-direction: row; */
  align-items: center;
  background-color: white;
  width: 100%;
  
}
.header_left {
  display: flex;
}
.login_button {
  margin-right: 20px;
}

.logotoggle {
  height: 40px;
  display: flex;
  padding-right: 10px;
}

.login_toggle_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('https://img.freepik.com/free-photo/beautiful-asian-woman-uses-smartphone-app-sends-messages-social-media-chat-points-away-copy-space-wears-casual-jumper_273609-48643.jpg?t=st=1652274077~exp=1652274677~hmac=a83c18fa88a33c73a7ed3f4ae739a2b64aeee0849c92db393c189a77c1e34243&w=900');
  /* background-size: fit-to-screen; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.home_top{
  height: 70vh;
}

.centertitle{
  padding: 10px;
}



.signupform {
  margin-left: 2vh;
}

.stretch {
  width: 400px;
}

.slogan {
  width: 500px;
  font-size: 50px;
  margin-top: 30px;
}

.signup {
  padding: 15px;
  margin-top: 1vh;
  padding-left: 45px;
  padding-right: 45px;
  margin-left: 5vh;
  border: solid;
  border-radius: 20px;
  background-color: white;
  margin-right: 50px;
}

.login {
  padding: 15px;
  margin-top: 10vh;
  padding-left: 45px;
  padding-right: 45px;
  margin-left: 5vh;
  border: solid;
  border-radius: 20px;
  background-color: white;
  margin-right: 50px;
}

.social_legal {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-left: 5vh;
  margin-right: 5vh;
  border-top: 1px solid lightgray;

}

.individual {
  padding-bottom: 5px;
  color: gray;
}

.createbutton {
  background-color: white;
  padding: 10px;
  border-radius: 25px;
  color: #fe3d71;
  font-weight: bolder;
}

.toggle {
  display: flex;
  flex-direction: column;
  padding: 15px;
  text-align: center;
  width: 30vh;
  align-items: center;
  margin-left: auto;
  margin-top: 10vh;
  margin-right: 25vh;
}

.home_top {
  padding-bottom: 200px;
}

.home_bottom {
  background-color: white;
}

.home_footer {
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  margin-left: 5vh;
  margin-right: 5vh;
  color: gray;
  padding: 15px;
}

.home_bottomtext {
  display: flex;
  flex-direction: column;
  margin-left: 5vh;
  margin-right: 5vh;
  letter-spacing: 1;
  border-top: 1px solid lightgray;
  padding-top: 15px;

}

.bottomtext {
  color: gray;
}

.home_reviews{
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
}

.home_name {
  padding: 15px;
}

.home_rev_content {
  padding: 15px;
}

.individual_review {
  border: solid 2px gray;
  margin: 10px;
  padding: 5px;
  height: 30vh;
  border-radius: 20px;
  box-shadow: 0px 18px 53px 0px rgba(131, 127, 127, 0.3);

}

.swipe {
  position: absolute;

}

.card > h3 {
  position: absolute;
  bottom: 10px;
  color: white;
}

.swipebuttons {
  position: fixed;
  bottom: 5vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.swipebuttons .MuiIconButton-root {
  background-color: white;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
}

.swipebutton_repeat {
  padding: 3vw !important;
  color: #f5b748 !important;
}

.swipebutton_left {
  padding: 3vw !important;
  color: #ec5e6f !important;
}

.swipebutton_star {
  padding: 3vw !important;
  color: #62b4f9 !important;
}

.swipebutton_right {
  padding: 3vw !important;
  color: #76e2b3 !important;
}

.swipebutton_lightening {
  padding: 3vw !important;
  color: #915dd1 !important;
}
.chat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 70px;
  border-bottom: 1px solid #fafafa;
}
.chat_details {
  flex:1;
}
.chat_image {
  margin-right: 20px;
}

.chat_timestamps {
  color: lightgray;
}

.chat_details > p {
  color: gray;
}

.messageScreen_message {
  display: flex;
  align-items: center;
  padding: 20px;
  padding-bottom: 30px;
}
.messageScreen_text {
  margin-left: 10px;
  background-color: lightgray;
  padding: 15px;
  border-radius: 20px;;
}

.messageScreen_timestamp {
  text-align: center;
  padding: 20px; 
  color: gray;
}

.messageScreen_textUser {
  margin-left: auto;
  background-color: #29b3cd;
  padding: 15px; 
  border-radius: 20px;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

.messageScreen_inputForm {
  display: flex;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid lightgray;
}

.messageScreen_inputField {
  flex: 1;
  padding: 10px;
  border: none;
}

.messageScreen_inputButton {
  border: none;
  margin-right: 20px;
  background-color: white;
  font-weight: bolder;
  color: #fe3d71;
}


.pendingrequests_container {
  display: flex;
  /* height: 100vh; */
  overflow: scroll;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 20px;
}
.center{
  text-align: center;
}
.pendingrequests_item {
  flex: 1;
  height: 100vh;
  width: 100%;
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
}
.viewprofile {
  margin-top: 7px;
  margin-right: auto;
  border: none;
  background-color: white;
  color:#fe3d71;
}

.rr_right {
  display: flex;
  margin-left: auto;
  flex-direction: column;
  margin-top: -20px;
  margin-right: 40px;
}

.accepted_right {
  display: flex;
  margin-left: auto;
  align-self: center;
  flex-direction: column;
  margin-top: -30px;
  margin-right: 2vh;
}

.pr_right {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  
}

.input {
  border-radius: 25px;
}

.login_button {
  border: none;
  background-color: white;
  color:#fe3d71;
  font-weight: bolder;
}

.signup_button {
  border: none;
  background-color: white;
  color: #fe3d71;
  font-weight: bolder;
}

.pendingrequests_button {
  /* display:inherit; */
  position: relative;
  padding: 10px;
  margin-right: 30px;
  margin-left: auto;
  border: none;
  background-color: white;
  font-weight: bolder;
  color: #fe3d71;
}

.accountdetails_buttons {
  border: none;
  background-color: white;
  font-weight: bolder;
  color: #fe3d71;
  font-size: 15px;
}

.accountdetails_item{
  text-align: center;
}
.accountdetails_input{
  padding: 10px;
  border-radius: 20px;
}
.accountdetails_right {
  margin-left: 10vh;
  display: flex;
  flex-direction: column;
}
.accountdetails_button {
  margin-left: 50vh;
  border: none;
  padding: 15px;
  font-weight: bolder;
  border-radius: 20px;
  transform: 1s;
}

.accountdetails_button:hover {
  border: solid .5px black;
}

.profilepage_container {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.profilepage_body {
  border: solid;
  height: 90vh;
  width: 70vh;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0px 10px 52px 0px rgba(0, 0, 0, 0.3) !important;
  /* background-color: lightgray; */
}

.vp_title {
  text-align: center;
  padding: 10px;
}

.vp_image {
  width: 57vh;
  height: 60vh;
  justify-content: center;
  margin-left: 6vh;
  border: solid;
}

.vp_bio {
  padding: 10px;
  text-align: center;
  border-top: 1px solid lightgray;

}

.name {
  /* background-color: black; */
  background-color: white;
  padding: 3px;
  padding-left: 15px;
}

.userbio {
  background-color: white;
  width: 650px;
  text-align: center;
  margin-right: 15px;
  margin-left: 15px;
}

.user_job{
  margin-right: 3vh;
  font-weight: bolder;
}

.con {
  display: flex;
  justify-content: space-between;
}


